
/*Text and body set up*/

body { 
  background-color: #7D00FF;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px; 
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: -100px
  padding-top: -100px;
  text-decoration-color: #FF13BA;
}

h1 { 
  text-align: center; 
  font-family: 'Flamer', sans-serif;
  font-size: 80px; 
  color: #FF13BA;
  animation: ColorChangeagain  1s infinite alternate;
  position: relative;
}

p { 
  padding-right: 80px;
  padding-left:80px;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  position: relative;

}


a:link {
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#FF96D6; 
  color: #FF13BA;
  text-decoration: none;
  font-size: 50px;
  animation: ColorChange 5s infinite alternate;
  line-height:70%;
  position: relative;

}

h2 {
  text-align: center;
}

   

/*responsive settings*/
@media (min-device-width:600px) {
    a[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    h1[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
@media screen and (max-width: 600px) {
    #primary { width:50%; }
    #secondary { width:50%; margin:0; border:none; text-align: center;}
}


/* Text color animations*/
@keyframes ColorChangeagain {
  from { 
        color: #FF13BA;
        transform: rotate(2deg);
    
}


  to {
       color: #CBFF00;

       transform: rotate(-2deg);

  }
} 


@keyframes ColorChange {
  from { 
        color: #FF13BA
    
  }

  25%{ 
        color: #FF7600

  }
50% { 
      color: #CBFF00;

}
75%{ 
    color: white; 
  }

  to {
    color: black;
  
  }
} 

/* Button styling*/

button {
  background-color: #FF13BA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  align-content: center;}



button:hover {
  
  background-color:  #FF7600;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

/* Link animation styling*/


.one {
  animation: letsgo  alternate-reverse 10s;
  text-align: left;
  transition-timing-function: ease-in;
  animation-timing-function: ease-out;

  
}



.two {
  animation: letsgoagain alternate-reverse 10s;
  text-align: right;
  animation-delay: .5s;
  transition-timing-function: ease-in;
  animation-timing-function: ease-out;

}

.three {
animation: letsgo  alternate-reverse 10s;
animation-delay: 1s;
animation-timing-function: ease-in;
text-align: left;

}


.four {
  animation: letsgoagain  alternate-reverse 10s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in;
  text-align: right;


}

.five{
  animation: letsgo  alternate-reverse 10s;
  animation-delay: 2s;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in;
  text-align: left;

}

.six{
  animation: letsgoagain  alternate-reverse 10s;
  animation-delay: 2.5s;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in;
  text-align: right;

}

.seven{
  animation: letsgo  alternate-reverse 10s;
  animation-delay: 3s;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in;
  text-align: left;

}

.eight{
  animation: letsgoagain  alternate-reverse 10s;
  animation-delay: 3.5s;
  animation-timing-function: ease-out;
  text-align: right;


}

.nine{ 
  animation: letsgo alternate-reverse 10s;
  animation-delay: 4s;
  animation-timing-function: ease-out;
  text-align: left;

}
.ten{
  animation: letsgoagain alternate-reverse 10s;
      animation-delay: 4.5s;
animation-timing-function: ease-out;
  text-align: right;

}

.eleven{
  animation: letsgo alternate-reverse 10s;
  animation-delay: 5s;
  animation-timing-function: ease-out;
  text-align: left;
}


/*button layout*/
h3{
  text-align:center; font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#FF96D6; 
  color: #FF13BA;
  text-decoration: none;
  font-size: 20px;cursor:pointer;
}

/*text movement animations*/
@keyframes letsgo {
  from { 
    transform: translateY(-300px);
    
  }

  25%{ 
  transform: translateX(300px); 
  transform: rotate(-20deg);}

  50% {  
    transform: translateY(-100px);  
    transform: rotate(-50deg);
  }
75% { 
  transform: translateY(70px)
  transform: rotate(180deg);

}
  to {
    transform: translateX(0px);
    transform: rotate(0deg);

  
  }
} 


@keyframes letsgoagain {
  from {
    transform: translateY(0px);
    
  }

  25%{ 
    transform: translateX(100px);
    transform: rotate(20deg); 
}

  50% {  
    transform: translateY(-200px); 
    transform: rotate(50deg);

  }
75% {
  transform: translateY(100px)
  transform: rotate(70deg);
}
  to {
    transform: translateX(20px);
    transform: rotate(180deg);
  }
} 




