/* Add a black background color to the top navigation */

h1 { font-family: 'Flamer', sans-serif;
font-size: 60px; 
color: #FF13BA;}

body { text-align: center; 
background-color: #7D00FF;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px; 
text-decoration-color: #FF13BA;}
p { padding-right: 70px;
  padding-left:70px;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 200;
  font-style: normal;
color: black;}
a:link {
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#FF96D6; 
  color: #FF13BA;
  text-decoration: none;
  font-size: 20px;
  animation: ColorChange 2s infinite alternate;

}

/* visited link */
a:visited {
  color: #FF13BA;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
.color1{ color: blue; }
.color1:hover {
	color: white;
}

.right {
	float: right;
}

@keyframes ColorChange {
  from { color: #FF13BA
    
  }

  to {
   color: #FF7600
  }
} 



.button {

  background-color: #CBFF00;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}



.button:hover {
  
  background-color:  #FF7600;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}


.button:clicked {
  
  background-color:  blue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.one {
  animation: letsgo  alternate-reverse 5s;
}

.two {
  animation: letsgoagain  alternate-reverse 5s;
}

.three {
animation: letsgo  alternate-reverse 5s;
    animation-delay: 1s;
}


.four {
  animation: letsgoagain  alternate-reverse 5s;
      animation-delay: 1s;

}
@keyframes letsgo {
  from { transform: translateY(-100px);

    
  }

  25%{ transform: translateX(100px); 
  transform: rotate(-20deg);}

  50% {  transform: translateY(-100px);  

transform: rotate(-50deg);
  }
75% { transform: translateY(70px)
  transform: rotate(-70deg);

}
  to {transform: translateX(0px);
    transform: rotate(0deg);
  
  }
} 


@keyframes letsgoagain {
  from { transform: translateY(100px);

    
  }

  25%{ transform: translateX(-100px);
   transform: rotate(20deg); }

  50% {  transform: translateY(100px); 

transform: rotate(50deg);

  }
75% {transform: translateY(100px)
  transform: rotate(70deg);
}
  to {transform: translateX(-0px);
    transform: rotate(0deg);
  }
} 





