/* Add a black background color to the top navigation */

h1 { font-family: 'Flamer', sans-serif;
font-size: 60px; 
color: #7D00FF}

body { text-align: center; 
background-color: #CBFF00;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 15px; 
text-decoration-color: #FF13BA;}


a:link {
  color: #FF13BA;
  text-decoration: none;
  font-size: 40px;
  animation: ColorChange 2s infinite alternate;
}

/* visited link */
a:visited {
  color: #FF13BA;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.left {
	float: left;
}

.right {
	float: right;
}

@keyframes ColorChange {
  from { color: #FF13BA
    
  }

  to {
   color: #FF7600
  }
} 

@keyframes  {
  from { color: #FF96D6;

    
  }

  to {
   color: #FF7600
  }
} 

.button {

  background-color: #7D00FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}



.button:hover {
  
  background-color:  #FF7600;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}


.button:clicked {
  
  background-color:  blue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: aktiv-grotesk-extended,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}











