

* {margin: 0
padding: 0;}

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background: ;
	font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 100;
font-style: normal;
font-size: 12px;
display: inline-block;
}

h1 {  margin-top: -10px;

color: black;
  font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 100;
font-style: normal;
font-size:15em;
}

h2 { margin-top: -100px;
  color: black;
  font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 100;
font-style: normal;
font-size: 15em 
}

.grid {
	display:grid;
	position: absolute;
	grid-template-columns: 21.8% 30% 25% 23.12%;
	grid-template-rows: 23.6% 22% 54.4%;
	border: 1px solid black;
	height: 1024px;
	width: 1280px;
}





.grid-item { position: relative;

  width: 100%;
            height: 100%;
                background-color: transparent; ;
                border: 1px solid black;


}

        	/*.grid-item {
        		width: 300px;
        		height: 200px;
                background-color: transparent; ;
                border: 1px solid transparent; */

        	}

/*
.header { 
color: black;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 800;
font-style: normal;
font-size: 30em;}




.header2{  
color: black;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 800;
font-style: normal;
font-size: 10em;*/
}




        	.letter {

        		width:1em; /*resize as you see fit */
        		height:2em; /*resize as you see fit */
        		display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
        		border:1px solid #000; /*feel free to remove or hide this rule */
        		position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */


        	}
        		

        	

        	
    
        	      
            .curvyleft {
                     width: 100%;
                    height: 120%;
                    background-color: #FF009C;
                  border-radius: 0px 50px 25px 25px ;
                    
                    box-shadow: -5px -5px  gray;
                  box-shadow: rgba(240, 46, 170, 0.4) -5px 0px, rgba(240, 46, 170, 0.3) -10px 0px, rgba(240, 46, 170, 0.2) -15px 0px, rgba(240, 46, 170, 0.1) -20px 0px, rgba(240, 46, 170, 0.05) -25px 0px;
             }

            .slant {
                     width: 100%;
                    height: 145%;
                    transform: rotate(-20deg);
                    background-color: #FF009C;
                  border-radius: 0px 50px 25px 25px;
                    
                    box-shadow: -2px -2px 3px transparent;
                     box-shadow: rgba(240, 46, 170, 0.4) -5px 0px, rgba(240, 46, 170, 0.3) -10px 0px, rgba(240, 46, 170, 0.2) -15px 0px, rgba(240, 46, 170, 0.1) -20px 0px, rgba(240, 46, 170, 0.05) -25px 0px;  }

            .slant-left {
                     width: 100%;
                    height: 145%;
                    transform: rotate(20deg);
                    background-color: #FF009C;
                  border-radius: 50px 0px 25px 25px;
                    
                    box-shadow: -2px -2px 3px transparent; 
                     box-shadow: rgba(240, 46, 170, 0.4) -5px 0px, rgba(240, 46, 170, 0.3) -10px 0px, rgba(240, 46, 170, 0.2) -15px 0px, rgba(240, 46, 170, 0.1) -20px 0px, rgba(240, 46, 170, 0.05) -25px 0px; }
            .curvyright {
                     width: 100%;
                    height: 120%;
                    background-color: #FF009C;
                     border-radius: 25px 25px 50px 0px ;
                    transform: rotate(-180deg);
                     box-shadow: 10px -10px  blue; 
               box-shadow: rgba(240, 46, 170, 0.4) 5px 0px, rgba(240, 46, 170, 0.3) 10px 0px, rgba(240, 46, 170, 0.2) 15px 0px, rgba(240, 46, 170, 0.1) 20px 0px, rgba(240, 46, 170, 0.05) 25px 25px;

  
             }


            .curvyup {

                width: 110%;
                    height: 130%;
                    background-color: #FF009C;
                    border-radius: 0px 50px 50px 0px ;
                    transform: rotate(270deg);
                     box-shadow: 0px 0px transparent;
                  box-shadow: rgba(240, 46, 170, 0.4) 0px -5px, rgba(240, 46, 170, 0.3) 0px -10px, rgba(240, 46, 170, 0.2) 0px -15px, rgba(240, 46, 170, 0.1) 0px -20px, rgba(240, 46, 170, 0.05) 0px -25px;
                       }


             .curvydown {

                width: 110%;
                height: 130%;
                background-color: #FF009C;
                border-radius: 0px 50px 50px 0px ;
                transform: rotate(90deg);
                box-shadow: 0px 0px  gray; 
                 box-shadow: 10px -10px  blue; 
               box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 25px 25px;}


                .corner-left-up {
                    width: 100%;
                    height: 100%;
                    margin-top: 20px;
                    background-color: #FF009C;
                     border-radius: 70px 25px 0px 70px;
                     transform: rotate(360deg);
                    box-shadow: -5px -5px  gray; 
                    box-shadow: rgba(240, 46, 170, 0.4) -5px 0px, rgba(240, 46, 170, 0.3) -10px 0px, rgba(240, 46, 170, 0.2) -15px 0px, rgba(240, 46, 170, 0.1) -20px 0px, rgba(240, 46, 170, 0.05) -25px 0px;
 
                }

                .corner-right-up {
                    width: 100%;
                    height: 100%;
                    margin-top: 20px;
                    background-color: #FF009C;
                     border-radius: 70px 0px 25px 70px;
                     transform: rotate(180deg);
                  box-shadow: 5px 0px 2px orange; 
                    box-shadow: -2px -2px 3px transparent;
                     box-shadow: rgba(240, 46, 170, 0.4) 5px 0px, rgba(240, 46, 170, 0.3) 10px 0px, rgba(240, 46, 170, 0.2) 15px 0px, rgba(240, 46, 170, 0.1) 20px 0px, rgba(240, 46, 170, 0.05) 25px 0px;  }
 
                .corner-right-down {
                    width: 100%;
                    height: 100%;
                    background-color: #FF009C;
                     border-radius: 70px 25px 0px 70px;
                     transform: rotate(180deg);
                  box-shadow: 5px 0px 2px orange; 
                    box-shadow: -2px -2px 3px transparent; 
                     box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; }

                    .corner-left-down {
                    width: 100%;
                    height: 100%;
                    background-color: #FF009C;
                     border-radius: 70px 0px 25px 70px;
                     transform: rotate(0deg);
                  box-shadow: 5px 0px 2px orange; 
                    box-shadow: -2px -2px 3px transparent; 
                     box-shadow: rgba(240, 46, 170,- 0.4) -5px 0px, rgba(240, 46, 170, 0.3) 10px 0px, rgba(240, 46, 170, 0.2) -15px 0px, rgba(240, 46, 170, 0.1) -20px 0px, rgba(240, 46, 170, 0.05) -25px 0px; }
    <br/>

