* {
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
	background-color: #f0ead6;
}




body { font-family: azo-sans-web,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 12px; 
padding-top: -30px;
}
.colours {
	margin-top: -50px;
}

.green {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color:  #CBFF00;
}


.hotpink {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #FF13BA;
}

.purple {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #7D00FF;
}

.black {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: black;
}
.white {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color:  white;
	border: 1px solid black;
}

.orange {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color:  #FF7600;
}

.pink {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #FF96D6;
}


h4{ font-family: 'Flamer', sans-serif;
font-size: 35px; }




h5{font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px; }

h6{font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px; 
color:#FF96D6; }

p {
	font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 200;
font-style: normal
font-size: 12px;}


.button1 {
  background-color: #7D00FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;}



.button2 {
  background-color: #7D00FF;
  border: solid 4px  #FF7600;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;}


.button3 {
  background-color:  #FF7600;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;}


.button4 {
  background-color: #FF13BA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;}


.button5 {
  background-color: #FF13BA;
  border: solid 4px #FF96D6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;}


.button6 {
  background-color: #FF96D6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;}

.input1 {
  background-color: white;
  width: 150px;
  height: 20px;
  padding: 10px;
  border: 4px solid #FF13BA;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
font-family: aktiv-grotesk-extended,sans-serif;
font-weight: 200;
font-style: normal
font-size: 12px;}


