


.letter {

    width:200px; /*resize as you see fit */
    height:300px; /*resize as you see fit */
    display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
    border:1px solid transparent; /*feel free to remove or hide this rule */
    position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */

    }

.grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(5,20%);
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: transparent; 
    
    }

.grid-item {
     width: 100%;
        height: 100%;
        background-color: transparent; 
        border: 1px solid transparent;

    }
    
.curvyleft {
    width: 100%;
    height: 120%;
    background-color: #FF009C;
    border-radius: 0px 50px 25px 25px ;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 0px, 
    rgba(240, 46, 170, 0.3) -10px 0px, 
    rgba(240, 46, 170, 0.2) -15px 0px, 
    rgba(240, 46, 170, 0.1) -20px 0px, 
    rgba(240, 46, 170, 0.05) -25px 0px;
    
    }

.slant {
    width: 100%;
    height: 145%;
    transform: rotate(-20deg);
    background-color: #FF009C;
    border-radius: 0px 50px 25px 25px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 0px, 
    rgba(240, 46, 170, 0.3) -10px 0px, 
    rgba(240, 46, 170, 0.2) -15px 0px, 
    rgba(240, 46, 170, 0.1) -20px 0px, 
    rgba(240, 46, 170, 0.05) -25px 0px;  

    }

.slant-left {
    width: 100%;
    height: 145%;
    transform: rotate(20deg);
    background-color: #FF009C;
    border-radius: 50px 0px 25px 25px;
                    
    box-shadow: rgba(240, 46, 170, 0.4) -5px 0px, 
    rgba(240, 46, 170, 0.3) -10px 0px, 
    rgba(240, 46, 170, 0.2) -15px 0px, 
    rgba(240, 46, 170, 0.1) -20px 0px, 
    rgba(240, 46, 170, 0.05) -25px 0px; 
    
    }

.curvyright {
    width: 100%;
    height: 120%;
    background-color: #FF009C;
    border-radius: 25px 25px 50px 0px ;
    transform: rotate(-180deg);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 0px, 
    rgba(240, 46, 170, 0.3) 10px 0px, 
    rgba(240, 46, 170, 0.2) 15px 0px, 
    rgba(240, 46, 170, 0.1) 20px 0px, 
    rgba(240, 46, 170, 0.05) 25px 25px;

    }


.curvyup {
    width: 110%;
    height: 130%;
    background-color: #FF009C;
    border-radius: 0px 50px 50px 0px ;
    transform: rotate(270deg);
    box-shadow: rgba(240, 46, 170, 0.4) 0px -5px, 
    rgba(240, 46, 170, 0.3) 0px -10px, 
    rgba(240, 46, 170, 0.2) 0px -15px, 
    rgba(240, 46, 170, 0.1) 0px -20px, 
    rgba(240, 46, 170, 0.05) 0px -25px;
    
    }


.curvydown {

    width: 110%;
    height: 130%;
    background-color: #FF009C;
    border-radius: 0px 50px 50px 0px ;
    transform: rotate(90deg);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, 
    rgba(240, 46, 170, 0.3) 0px 10px, 
    rgba(240, 46, 170, 0.2) 0px 15px, 
    rgba(240, 46, 170, 0.1) 0px 20px, 
    rgba(240, 46, 170, 0.05) 25px 25px;

    }


.corner-left-up {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: #FF009C;
    border-radius: 70px 25px 0px 70px;
    transform: rotate(360deg);
    box-shadow: rgba(240, 46, 170, 0.4) -5px 0px, 
    rgba(240, 46, 170, 0.3) -10px 0px, 
    rgba(240, 46, 170, 0.2) -15px 0px, 
    rgba(240, 46, 170, 0.1) -20px 0px, 
    rgba(240, 46, 170, 0.05) -25px 0px;
 
    }

.corner-right-up {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: #FF009C;
    border-radius: 70px 0px 25px 70px;
    transform: rotate(180deg);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 0px, 
    rgba(240, 46, 170, 0.3) 10px 0px, 
    rgba(240, 46, 170, 0.2) 15px 0px, 
    rgba(240, 46, 170, 0.1) 20px 0px, 
    rgba(240, 46, 170, 0.05) 25px 0px;  

    }
 
.corner-right-down {
    width: 100%;
    height: 100%;
    background-color: #FF009C;
    border-radius: 70px 25px 0px 70px;
    transform: rotate(180deg);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
    rgba(240, 46, 170, 0.3) 10px 10px, 
    rgba(240, 46, 170, 0.2) 15px 15px, 
    rgba(240, 46, 170, 0.1) 20px 20px, 
    rgba(240, 46, 170, 0.05) 25px 25px; 

    }

.corner-left-down {
    width: 100%;
    height: 100%;
    background-color: #FF009C;
    border-radius: 70px 0px 25px 70px;
    transform: rotate(0deg);
    box-shadow: rgba(240, 46, 170,- 0.4) -5px 0px, 
    rgba(240, 46, 170, 0.3) 10px 0px, 
    rgba(240, 46, 170, 0.2) -15px 0px, 
    rgba(240, 46, 170, 0.1) -20px 0px, 
    rgba(240, 46, 170, 0.05) -25px 0px; 

    }
   


                  



  
        