* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
button {
	font-size: 72px;
}

html, body {
	width: 100%;
	height: 200%;
	background: blue;
	
}



.hiddenletters{
	font-size: 200px;
	color: transparent;
}

.hiddenletters:hover{

	font-size: 200px;

color: yellow;
		animation: light 3s ; 
mix-blend-mode: luminosity;
}




@keyframes light {

  from {color: transparent;}
  to {color: yellow;
  		text-shadow: 5px 5px 10px white;


  	 }
}