* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	cursor: none;
}
button {
	font-size: 72px;
}

html, body {
	width: 100%;
	height: 200%;
	background: blue;
	display: inline-block;
	text-align: center;
	
}



.hiddenletters{
	font-size: 100px;
	color: transparent;
	margin-bottom: -50px;
}

.hiddenletters:hover{

	font-size: 100px;

color: black;
  		text-shadow: 5px 5px 10px black;

animation: light 2s ; 
mix-blend-mode: luminosity;
}

.cursor { width: 10rem;
	height: 10rem; 
	border: 2px  white;
	border-radius: 50% ;
	margin-top: -150px;
background-color: red;

position: absolute;
transform: translate(-50%, 50%);
	pointer-events: none; }



.treasure{
	font-size: 70px;
	color: transparent;
	margin-left: 50px;
}

.treasure:hover{

	font-size: 50px;
	margin-left: 50px;

color: black;
  		text-shadow: 5px 5px 10px black;

animation: light 2s ; 
mix-blend-mode: luminosity;
}


@keyframes light {

  from {color: transparent;}
  to {color: black;
  		text-shadow: 5px 5px 10px black;


  	 }
}


.instructions {

	font-size: 30px;
	color: red;
	margin-bottom: -50px;
}








