/* Media Queries: Tablet Landscape */
body {background: #ff66cc;
	
	}


/* MEDIA QUERIES*/
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; height: auto; } 

/* MEDIA QUERIES*/


/* text styling*/
h1 {
	text-align: center;
font-family: fleisch-wurst, sans-serif;

font-weight: 400;

font-style: normal;
font-size: 50px;
color: #CCFFCC;
}
/* text styling*/

/* iframe settings*/

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-iframe {
    left:13%;
    top:0;
    right:0;
    height:90%;
    width:80%;
    position:absolute;
}
.container {
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 12%;
    right: 0%;
    width: 80%;
    height: 90%;
    border: 0;
}

/* iframe settings*/

